<html>
	<head>
		<title>reCAPTCHA demo: Simple page</title>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript">

		function SubmitEvent() {

		    $("#addevent").submit(function(event) {

		        event.preventDefault();
		        var formData = new FormData($(this)[0]);
		        $.ajax({
		            url: "{% url 'gooleView' %}",
		            type: 'POST',
		            data: formData,
		            async: true,
		            cache: false,
		            contentType: false,
		            processData: false,
		            success: function(returndata) {

		                if (returndata.status == 'success') {

		                    alert(returndata.result);

		                }
		                else if (returndata.status == 'error') {

		                    alert(returndata.result);

		                }
		            }
		        });
		        return false;
		    });
		}


		</script>
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	</head>
	{% if msg %}
		<h1> {{ msg }}</h1>
	{% endif %}
	<body>
		<form method="post" action="javascript:;" id="addevent">
			{% csrf_token %}
			<table>
				<tr>
					<th> Event name  </th>
					<th><input type="text" name ="event_name" value="" /></th>
				</tr>
				<tr>
					<th> Event place </th>
					<th><input type="text" name ="event_palce" value="" /></th>
				</tr>
				<tr>
					<th> Event date </th>
					<th><input type="text" name ="event_date" value="" /></th>
				</tr>
				<tr>
					<td></td>
					<td>{{ form.captcha }}</td>
				</tr>
			</table>
			<button onclick=" SubmitEvent();" type="submit">Submit</button>
		</form>
	</body>
</html>